.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 2em;
}

.utility {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  width: 116px;
  height: 112.03px;
  border-radius: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: all 300ms;
  background: var(--bg-light);
  border: 1px solid #EFF3F9;
  box-shadow: 26px 18px 18px rgba(93, 134, 194, 0.05);
}

.utility:hover {
  background: #FFFFFF;
  border: 1px solid #0D99FF;
  box-shadow: 14px 15px 13px rgba(93, 134, 194, 0.12);
  border-radius: 20px;
}

.property {
  font-weight: 600;
  font-size: 0.8rem;
}

.value {
  font-weight: 600;
  font-size: 0.7rem;
}