.container {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2em;
}

.contractInfo {
  width: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.4em;
}

.network {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.4em;
}

.address {
  color: var(--color-accent);
  text-decoration: underline;
  word-break: break-all;
}

.description {
  max-width: 32em;
}

.mainDescription {
  margin-bottom: 0.4em;
  margin-top: 2em;
}

.imageContainer {
  width: 100%;
  background: var(--bg-light);
  border: 1px solid #E5E8EB;
  box-shadow: 26px 18px 18px rgba(93, 134, 194, 0.05);
  border-radius: 20px;
  padding: 2em 1em;
}

.wrapper {
  width: 100%;
  min-height: 16em;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  border: 2px dashed var(--color-dark);
  border-radius: 1em;
  padding: 2em;
  background: var(--card-bg);
  transition: border 300ms;
  cursor: pointer;
  text-align: center;
}

.wrapper:hover {
  border: 2px dashed var(--color-accent);
}

.zipIcon {
  margin-bottom: 1em;
}

.uploadBtn {
  padding: 0.4em 1em;
  padding-bottom: 0.5em;
  border-radius: 1em;
  background: var(--card-bg-accent-light);
  color: var(--color-accent);
}