.container {
  width: 100%;
  padding: 1em 2em;
  background: var(--card-bg);
  border-radius: 1em;
}

.name_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  flex: 1;
}

.description {
  height: 0;
  overflow: hidden;
  transition: all 300ms;
  font-size: 1rem;
}

.description.active {
  height: 6em;
}

.chevronIcon {
  width: 53.84px;
  height: 53.84px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  cursor: pointer;
  background: var(--bg-light);
}

.chevronIcon svg {
  transition: transform 450ms 10ms;
  transform: rotate(-180deg);
  stroke: var(--color-accent);
  width: 1.4em;
  height: 1.4em;
}

.chevronIcon.active svg {
  transform: rotate(0deg);
}

.chevronIcon.inActive svg {
  transform: rotate(-180deg);
}

@media screen and (max-width: 680px) {
  .description.active {
    height: 16em;
  }
}