.container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: rgba(50, 50, 86, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.wrapper {
  width: 100%;
  max-width: 28em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding: 3em;
  padding-top: 4em;
  padding-bottom: 6em;
  border-radius: 1.4em;
  background: white;
  border: 1px solid #E5E8EB;
  box-shadow: 26px 18px 18px rgba(93, 134, 194, 0.05);
  border-radius: 20px;
  animation: scale 150ms;
  position: relative;
}

@keyframes scale {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1);
  }
}

.closeIcon {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  background: var(--card-bg);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeIcon svg {
  width: 0.8em;
  height: 0.8em;
  stroke: var(--color-dark);
}

.heading {
  font-weight: 700;
  font-size: 1.5rem;
  border: 1px solid red;
}

.description {
  text-align: center;
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid red;
}