.container {
  flex: 0 0 auto;
  border: 1px solid black;
  background: var(--bg-light);
  border: 1px solid var(--color-border);
  box-shadow: 17px 18px 18px rgba(93, 134, 194, 0.09);
  border-radius: 1.2em;
  padding: 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.container:hover {
  box-shadow: 26px 18px 18px rgba(93, 134, 194, 0.14);
}

.innerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.innerWrapper {
  border-radius: 0.6em;
  overflow: hidden;
}

.innerWrapper>img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.6em;
  transition: all 300ms;
  margin-bottom: -4px;
}

.container:hover .innerWrapper>img {
  transform: scale(1.1);
}

.innerImageContainer {
  width: 4em;
  height: 4em;
  padding: 1px;
  padding-top: 4px;
  background: var(--bg-light);
  border-radius: 0.5em;
  position: absolute;
  bottom: -2em;
  left: 1em;
  transition: all 300ms;
}

.innerImageContainer>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.8em;
}

.container:hover .innerImageContainer {
  transform: translateY(-0.5em);
}

.name {
  width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 600;
}

.description {
  margin-bottom: 1em;
  width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details {
  margin-top: 3em;
  /* margin-left: 0.6em; */
}

.imgPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em;
}

.imgPlaceholder img {
  width: 80%;
}