.container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: rgba(50, 50, 86, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.wrapper {
  width: 100%;
  max-width: 28em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding: 3em;
  padding-top: 4em;
  border-radius: 1.4em;
  background: white;
  border: 1px solid #E5E8EB;
  box-shadow: 26px 18px 18px rgba(93, 134, 194, 0.05);
  border-radius: 2em;
  animation: scale 150ms;
  position: relative;

}

@keyframes scale {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1);
  }
}

.closeIcon {
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: var(--card-bg);
}

.closeIcon svg {
  width: 0.8em;
  height: 0.8em;
  stroke: var(--color-dark);
}

.heading {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.subText {
  margin-bottom: 2em;
  text-align: center;
}

.balanceContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.innerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.8em;
  padding: 1.6em;
  border-radius: 1.2em;
  background: #FFFFFF;
  border: 1px solid #E5E8EB;
  box-shadow: 26px 18px 18px rgba(93, 134, 194, 0.05);
}

.property {
  width: 100%;
  font-weight: 700;
  font-size: 1.1rem;
}

.valueContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.4em;
}

.native {
  color: var(--color-accent);
  font-weight: 600;
}