.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  min-width: 16em;
  text-align: center;
  position: absolute;
  bottom: calc(2.8 * 16px);
  background: var(--tooltip-bg);
  color: var(--color-light);
  padding: 0.4em 1em;
  padding-bottom: 0.6em;
  border-radius: 0.3em;
  font-size: 0.8rem;
  display: none;
  align-items: center;
  justify-content: center;
}

.tooltip::before {
  position: absolute;
  bottom: 1px;
  content: "";
  border-width: 8px;
  border-style: solid;
  border-color: var(--tooltip-bg) transparent transparent transparent;
  transform: translateY(100%);
  z-index: 1;
}

.container:hover .tooltip {
  display: flex;
}

.container svg {
  width: 24px;
  height: 24px;
}