.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.container input {
  width: 100%;
}

.name {
  font-size: 1rem;
  font-weight: 600;
}

.required {
  color: red;
  margin-left: 0.2em;
}

.container input {
  padding: 1em;
  border-radius: 0.8em;
  background: var(--card-bg);
  border: 1px solid transparent;
  cursor: default;
  font-size: 1rem;
  border: 1px solid var(--color-border);
}

.container input:hover {
  border: 1px solid var(--color-border-hover);
}

.container input:focus {
  border: 1px solid transparent;
  outline: 1px solid var(--color-accent);
  cursor: text;
}

.container textarea {
  padding: 1em;
  border-radius: 0.8em;
  background: var(--card-bg);
  border: 1px solid transparent;
  cursor: default;
  width: 100% !important;
  min-height: 12em;
  resize: vertical;
  font-style: serif;
  font-size: 1rem;
  border: 1px solid var(--color-border);
}

.container textarea:hover {
  border: 1px solid var(--color-border-hover);
}

.container textarea:focus {
  border: 1px solid transparent;
  outline: 1px solid var(--color-accent);
  cursor: text;
}