.container {
  border-bottom: 1px solid var(--color-border);
  width: 100%;
  padding: 6em 1em;
}

.innerContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6em;
  padding: 2em;
  padding-left: 4em;
  background: var(--card-bg);
  border-radius: 1em;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  flex: 1;
}

.mainText {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 50px;
  letter-spacing: 0.035em;
  text-transform: uppercase;
}

.subText {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 50px;
  letter-spacing: 0.535em;
  text-transform: uppercase;
}

.subText2 {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 28px;
  letter-spacing: 0.285em;
  text-transform: uppercase;
}

.bleuLogo {
  width: 24em;
  height: 25em;
}

@media screen and (max-width: 1200px) {
  .innerContainer {
    gap: 4em;
  }

  .mainText {
    font-size: 2rem;
  }

  .bleuLogo {
    width: 20em;
    height: 21em;
  }
}

@media screen and (max-width: 1024px) {
  .innerContainer {
    gap: 3em;
  }

  .subText {
    font-size: 1rem;
  }

  .subText2 {
    font-size: 0.7rem;
  }

  .bleuLogo {
    width: 14em;
    height: 15em;
  }
}

@media screen and (max-width: 900px) {
  .innerContainer {
    padding: 2em 4em;
  }

  .bleuLogo {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .innerContainer {
    padding: 2em;
  }

  .mainText {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  .mainText {
    font-size: 1.2rem;
  }

  .subText {
    line-height: 30px;
  }
}