.container {
  width: 100%;
}

.innerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-weight: 600;
  font-size: 16px;
  line-height: 168%;
}

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 168%;
}

.attributes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  flex-wrap: wrap;
}

.attribute {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  padding: 0.4em 0.8em;
}