.container {
  width: 100%;
  margin-bottom: 6em;
}

.innerContainer {
  padding: 2em;
}

.banner {
  width: 100%;
  height: 20em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--card-bg);
  border: 1px solid var(--color-border);
}

.tabContainer {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 2em;
  overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tabContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tabContainer {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--card-bg);
  padding: 0.4em;
  border-radius: 0.6em;
  flex: 0 0 auto;
}

.tab {
  width: auto;
  padding: 0.4em 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.6em;
  cursor: pointer;
  border: 1px solid transparent;
}

.tab.active {
  background: var(--bg-light);
  border: 1px solid var(--color-border);
}

.count {
  min-width: 2em;
  background: var(--color-dark);
  color: var(--color-light);
  padding: 0 0.4em;
  padding-bottom: 0.2em;
  border-radius: 0.5em;
}

@media screen and (max-width: 1200px) {
  .banner {
    height: 20em;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: 16em;
  }
}

@media screen and (max-width: 480px) {
  .innerContainer {
    padding: 1em;
  }
}