.container {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 6em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.arrow {
  margin-bottom: 2em;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-light);
  border: 1px solid #E5E8EB;
  border-radius: 0.8em;
  cursor: pointer;
}

.arrow svg {
  transition: transform 300ms;
}

.arrow:hover svg {
  transform: translateX(-20%);
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.container section {
  width: 100%;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}

.title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
}

.description {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1em;
}

.collectionBanner,
.collectionImage {
  border: 1px solid var(--color-border);
  background: var(--card-bg);
  border-radius: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: gray;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.collectionBanner.active,
.collectionImage.active {
  background: transparent;
  border: transparent;
}

.collectionBanner {
  width: 100%;
  height: 16em;
}

.collectionImage {
  width: 100%;
  max-width: 8em;
  height: 8em;
  margin-top: -4em;
  margin-left: 2em;
}

.collectionBanner img,
.collectionImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collectionBanner.active .addIcon,
.collectionImage.active .addIcon {
  opacity: 0.2;
}

.collectionBanner.active:hover .addIcon,
.collectionImage.active:hover .addIcon {
  opacity: 1;
}

.collectionBanner:hover .addIcon svg,
.collectionImage:hover .addIcon svg {
  transform: rotate(90deg);
}

.addIcon {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 1em;
  right: 1em;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-light);
  border-radius: 50%;
}

.addIcon svg {
  height: 1em;
  width: 1em;
  stroke: var(--color-dark);
  transition: transform 300ms;
}

.container section label {
  font-size: 1.2rem;
  font-weight: 600;
}

.container section textarea {
  width: 100%;
  min-height: 12em;
  resize: vertical;
  border-radius: 0.8em;
  background: var(--card-bg);
  border: 1px solid var(--color-border);
  padding: 2em;
}

.labeledInput {
  width: 100%;
  margin-bottom: 2rem;
}

.labeledInput label {
  margin-bottom: 1em;
  display: block;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8em;
  background: var(--card-bg);
  border: 1px solid var(--color-border);
  padding: 1em 1.4em;
  border-radius: 0.8em;
}

.wrapper:hover {
  border: 1px solid var(--color-border-hover);
}

/* .icon {} */

.wrapper input {
  width: 100%;
  padding: 0.2em 0;
  font-size: 1rem;
  border: none;
  outline: none;
  background: transparent;
}

.inputContainer>div input:focus {
  outline: 1px solid var(--color-accent);
  border: 1px solid transparent;
}

.deleteImageButton {
  width: 9em;
  margin-top: 1em;
}

.saveButton {
  align-self: flex-end;
  width: 9em;
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 2.4rem;
  }

  .description {
    font-size: 1rem;
  }

  .inputContainer>div label {
    font-size: 1rem;
  }
}