.container {
  width: 100%;
  max-width: 1200px;
  margin-top: 2em;
  padding: 2em;
  margin: 0 auto;
  margin-bottom: 6em;
}

.arrow {
  margin-bottom: 2em;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-light);
  border: 1px solid #E5E8EB;
  border-radius: 0.8em;
  cursor: pointer;
}

.arrow svg {
  transition: transform 300ms;
}

.arrow:hover svg {
  transform: translateX(-20%);
}

.heading {
  font-weight: 800;
  font-size: 2.2rem;
  margin-bottom: 2em;
}

.innerContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4em;
}

.assetContainer {
  width: 100%;
  padding: 1em;
  background: var(--bg-light);
  border: 1px solid #E5E8EB;
  box-shadow: 26px 18px 18px rgba(93, 134, 194, 0.05);
  border-radius: 1.4em;
}

.asset {
  width: 100%;
  height: auto;
  border-radius: 1.8em;
}

.details {
  width: 100%;
  padding: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  background: var(--bg-light);
  border: 1px solid #E5E8EB;
  box-shadow: 26px 18px 18px rgba(93, 134, 194, 0.05);
  border-radius: 1.4em;
  margin-top: 2em;
}

.details .label {
  font-size: 1rem;
  font-weight: 500;
}

.details input {
  width: 100%;
  padding: 1em;
  font-size: 1rem;
  border-radius: 0.8em;
  background: var(--card-bg);
  border: none;
}

.details input:focus {
  outline: 1px solid var(--color-accent)
}

.button {
  margin-top: 2em;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .innerContainer {
    flex-direction: column;
    gap: 2em;
  }

  .details {
    max-width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .container {
    padding: 2em 1em;
  }
}